.Foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 88, 88, 0.116);
  color: white;
  text-align: center;
  grid-column-start: 2;
  grid-row-start: 5;
  /* height: 2em; */

}

.Foot p {
  padding: 1em;

}


